@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

.generator {
  margin: 50px auto;
  max-width: 500px;
  background-color: pink;
  border-radius: 5px;
  padding: 50px 0 10px;
  @include tablet {
    max-width: 1136px;
  }
  &__button {
    width: 100%;
    display: flex;
    & button {
      margin: 20px auto;
      background-color: white;
      height: 50px;
      width: 80%;
      @include tablet {
        font-size: 1.5em;
        height: 80px;
      }
    }
  }
}
