.themes__slider__section__input {
  padding: 5px;
  &--label {
    cursor: pointer;
    background-color: #D3D3D3;
    padding: 2.5px 2.5px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  &--input {
    display: none;
    &:checked + label {
      background-color: pink;
    }
  }
}
